/* CSS Document */
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Bold.eot');
    src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-Bold.woff2') format('woff2'),
        url('../fonts/SegoeUI-Bold.woff') format('woff'),
        url('../fonts/SegoeUI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Light.eot');
    src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-Light.woff2') format('woff2'),
        url('../fonts/SegoeUI-Light.woff') format('woff'),
        url('../fonts/SegoeUI-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Semibold.eot');
    src: url('../fonts/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-Semibold.woff2') format('woff2'),
        url('../fonts/SegoeUI-Semibold.woff') format('woff'),
        url('../fonts/SegoeUI-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Italic.eot');
    src: url('../fonts/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-Italic.woff2') format('woff2'),
        url('../fonts/SegoeUI-Italic.woff') format('woff'),
        url('../fonts/SegoeUI-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.eot');
    src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI.woff2') format('woff2'),
        url('../fonts/SegoeUI.woff') format('woff'),
        url('../fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Abril Fatface';
    src: url('../fonts/AbrilFatface-Regular.eot');
    src: url('../fonts/AbrilFatface-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AbrilFatface-Regular.woff2') format('woff2'),
        url('../fonts/AbrilFatface-Regular.woff') format('woff'),
        url('../fonts/AbrilFatface-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #F6F6F6; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #CBCBCB; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #CBCBCB; 
}
body,.btn{
	font-size:14px;
	/*zoom: 0.8;*/}

body,h1,h2,h3,h4,h5,h6,a,button,span{
	font-family: 'Segoe UI';
}

a:hover{
	text-decoration:none;}

/* Header Section */ 

header{
	padding:0 95px;
	margin-bottom: 60px;
	box-shadow: 0px -10px 30px #ccc;
}

/* Header Nav */

nav.navbar {
    padding-top: 20px;
	padding-bottom: 25px;
}

nav.navbar button{
	margin:0 5px;
}
.navbar-light .navbar-nav .nav-link,
nav.navbar li a {
    font-size: 14px;
    font-weight: bold;
    color: #000;
	padding:0 15px;
}

/* Profile Pic Header */

a.prof-pic{
	position:relative;
	margin: 0 15px;
	display: block;}

a.prof-pic img{
	width:70px;
    border-radius: 100px;}

a.prof-pic span{
	display: block;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: #23D25B;
    position: absolute;
    right: 10px;
    bottom: 15px;}

.prof-pic.dropdown-toggle::after{
	display:none;}

/* Top Cart */

.top-cart{
	position:relative;
	margin: 0 15px;}

.top-cart i{
	font-size:26px;
	color:#000000;}

.top-cart span{
	display: block;
    padding: 0px 6px;
    text-align: center;
    font-size: 11px;
    line-height: 18px;
    border-radius: 100px;
    background: #23D25B;
    position: absolute;
    color: #fff;
	right: -10px;
    top: -18px;
    border: 2px solid #FFF;}

.top-cart.dropdown-toggle::after{
	display:none;}

/* Top Massage */

.top-massage{
	position:relative;
	margin: 0 15px;}

.top-massage i{
	font-size:26px;
	color:#000000;}

.top-massage span{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: #23D25B;
    position: absolute;
    right: -8px;
    bottom: 0px;}

.massage .dropdown-menu.show {
	display: block;
    width: 500px;
    left: -200px;
    top: 60px;}
	
.massage.show i{
	color:#23D25B;}

.massage .dropdown-item{
	display:inline-block;
	position:relative;}

.massage .dropdown-item img{
	width:70px;
	float:left;
	margin-right: 10px;}

.massage .dropdown-item h4{
	font-size:18px;
	color:#000000;
	margin: 0;
    padding-top: 8px;}

.massage .dropdown-item p{
	font-size:16px;
	color:#C2C2C2;
	font-weight:normal;
	margin:0;}

.massage .dropdown-item span{
	font-size:14px;
	color:#C2C2C2;
	position: absolute;
    right: 25px;
    top: 12px;}

.top-massage.dropdown-toggle::after{
	display:none;}

.dropdown-item:hover,
.dropdown-item.active, .dropdown-item:active{
	background-color: #23d25b;}

.dropdown-item:hover h4,
.dropdown-item:hover p,
a.dropdown-item:hover,
.dropdown-item:hover span,
.dropdown-item.active h4, 
.dropdown-item:active h4,
.dropdown-item.active p, 
.dropdown-item:active p,
.dropdown-item.active span, 
.dropdown-item:active span{
	color:#fff !important;}

/* Top Notify */

.top-notify{
	position:relative;
	margin: 0 15px;}

.top-notify i{
	font-size:24px;
	color:#000000;}

.top-notify span{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: #23D25B;
    position: absolute;
    right: -8px;
    bottom: 0px;}

.notify .dropdown-menu.show {
	display: block;
    width: 500px;
    left: -264px;
    top: 58px;}
	
.notify.show i{
	color:#23D25B;}

.notify .dropdown-item{
	display:inline-block;
	position:relative;}

.notify .dropdown-item img{
	width:70px;
	float:left;
	margin-right: 10px;}

.notify .dropdown-item h4{
	font-size:18px;
	color:#000000;
	margin: 0;
    padding-top: 8px;}

.notify .dropdown-item p{
	font-size:16px;
	color:#C2C2C2;
	font-weight:normal;
	margin:0;}

.notify .dropdown-item span{
	font-size:14px;
	color:#C2C2C2;
	position: absolute;
    right: 25px;
    top: 12px;}

.top-notify.dropdown-toggle::after{
	display:none;}

/* Popup style */

.gopop .modal-dialog{
	max-width:700px;}

.gopop .modal-content{
	border-radius: 6px;
    overflow: hidden;}

.gopop .modal-header{
	background:#23D25B;
	position:relative;
	border-radius: 5px 5px 10px 10px;
	border-bottom: 0;
	padding: 20px 40px;}

.gopop .modal-header img{
	width:45px;}

.gopop .modal-header .modal-title{
	font-size:26px;
	font-weight:bold;
	text-align:center;
	color:#fff;}

.gopop .modal-header .close{
	margin:0;
	color:#fff;
	padding: 0;
    opacity: 1;
	position: relative;
    top: -20px;
    right: -30px;}

.gopop .arrow-down{
	text-align:center;}

.gopop .arrow-down img{
	width:35px;
	vertical-align:top;}

.gopop .modal-body{
	padding: 55px 125px 20px;}

.gopop .form-control{
	height: calc(2.25rem + 10px);}

.gopop .form-group label{
	color:#747474;
	font-size:15px;}

.gopop .input-group-text{
	background:none;}

.gopop button.btn.btn-primary {
    background: #23D25B;
    font-size: 17px;
    border-color: #23D25B;
    padding: 8px 32px;
	color:#fff;}

.gopop .btn-sign{
	padding-top: 30px;
    padding-bottom: 20px;}

.gopop .text-sign a{
	color:#000;
	font-weight:bold;}

.gopop .btn-sign,.gopop .text-sign {
    text-align: center;}

.gopop .modal-footer{
	text-align:center;
	color:#747474;
	font-size:15px;
	padding: 30px 20px;
	display: block;
	background:#F9F9F9;}

.gopop#becomechef .modal-body{
	padding-top:10px;}

.gopop#becomechef .modal-header .modal-title span{
	font-size: 24px;
    font-weight: normal;
    position: absolute;
    right: 20px;
    bottom: 10px;
	display:none;}

.gopop#becomechef .triggerinput{
	display:none;}

.gopop#becomechef p{
	text-align:center;
	font-size:21px;
	color:#878787;}

.gopop#becomechef #triggerimg{
	margin: 0 auto;
    width: 204px;
    height: 163px;}

.gopop#becomechef .gallery-block {
    position: relative;
    overflow: hidden;
}
.gopop#becomechef .gallery-block .field{
	width:100%;
	text-align: center;}
.gopop#becomechef .gallery-block p{
	font-size:13px;
	text-align:center;}
.gopop#becomechef .gallery-block input#files,
.gopop#becomechef .gallery-block input#files2 {
	display:none;}
.gopop#becomechef .gallery-block .pip{
	display:inline-block;
	position: relative;
    margin: 0 5px 15px;}
.gopop#becomechef .gallery-block .pip img{
	width:70px;
	height:70px;
	border:1px solid #707070;}
.gopop#becomechef .gallery-block .remove{
    background: #000;
    color: #fff;
    font-size: 16px;
    border-radius: 100px;
    position: absolute;
    z-index: 999;
    height: 15px;
    width: 15px;
    line-height: 12px;
	cursor:pointer;
    right: -5px;
    top: -5px;}

.gopop#becomechef .gallery-block .triggerbtn,
.gopop#becomechef .gallery-block .triggerbtn2{
    display: block;
    margin: 0 auto;
	color:#21D567;
	font-size:17px;
	background:none;
	padding:8px 25px;
	cursor:pointer;
	border-radius: 5px;
	border:1px solid #21D567;}

.gopop#becomechef .btn-sign{
	padding-top:0;}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.gopop#varify .var-num p{
	font-size:13px;
	color:#878787;
    text-align: center;
	margin:0;}

.gopop#varify .var-num .input-control{
	position:relative;
	margin-top:20px;
    text-align: center;}

.gopop#varify .var-num #verify-mobile{
	font-size:19px;
	color:#878787;
	font-weight:bold;
	border:none;
    text-align: center;
    background: #fff;
	width: 250px;
    margin: 0 auto;}

.gopop#varify button.btn.btn-primary.btn-sm.editable-submit{
	padding: 2px 5px;}

.gopop#varify .editable-error-block{
	color: red;
    padding: 0 15px;
    margin: 0;}

.gopop#varify .var-num .input-group-addon{
	font-size: 19px;
    color: #21D567;
    padding: 10px;
    border: none;
	cursor:pointer;
    position: absolute;
    right: 65px;
	z-index: 999;
    top: 5px;}

.gopop#varify .var-num .code{
	text-align: center;
	max-width: 160px;
    margin: 40px auto 60px;}

.gopop#varify .var-num .code .col-3{
	padding:0;}

.gopop#varify .var-num .code input{
	color:#000;
	font-weight:bold;
	font-size:38px;
	border:none;
	border-bottom:2px solid #707070;
	width: 30px;
    text-align: center;}

.gopop#varify .var-num .code input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color:#D5D5D5;
}
.gopop#varify .var-num .code input::-moz-placeholder { /* Firefox 19+ */
	color:#D5D5D5;
}
.gopop#varify .var-num .code input:-ms-input-placeholder { /* IE 10+ */
	color:#D5D5D5;
}
.gopop#varify .var-num .code input:-moz-placeholder { /* Firefox 18- */
	color:#D5D5D5;
}

/* Main Banner */

section.banner{
	height:600px;
	width:100%;
	padding:150px 0;
	margin-top:-60px;
	margin-bottom:70px;
	background:url('../images/Group783@2x.png') no-repeat top center;
	background-size: cover;}

section.banner h3{
	font-size:56px;
	color:#23D25B;
	font-family: 'Abril Fatface';
	margin:0;
    text-shadow: 5px 5px 40px #000000;}

section.banner h1{
	font-size:100px;
	color:#23D25B;
	line-height: 100px;
	font-family: 'Abril Fatface';
    margin-top: -20px;
    margin-bottom: 40px;
    text-shadow: 5px 5px 40px #000000;}

section.banner .banner-form{
	position:relative;}

section.banner .banner-form input{
	width: 60%;
    padding: 22px;
    border-radius: 0;}

section.banner .banner-form a{
	background:url('../images/Symbol44@2x.png') no-repeat center right;
	width:28px;
	height:28px;
	margin-left:-45px;}

section.banner .banner-form button{
    border-radius: 0;
	padding: 10px 20px;
	margin-left: 20px;}
	
section.banner .banner-form button.btn-outline-success:disabled{
	color: #ffffff;
	opacity: 1;
	border-color: #22d25c;
	font-size: 16px;
    background-color: #22d25c;}

#product-detail-page section.banner{
	height:260px;
	padding: 15px 0;
	margin-bottom: 30px;}

#product-detail-page section.banner h3{
	font-size:45px;}

#product-detail-page section.banner h1{
	font-size: 70px;
	margin-bottom: 25px;}

.tooltip-msg{
	margin-bottom:30px;
	text-align:center;}

ul.lSPager.lSGallery li.active,
.lSSlideOuter.vertical .lSGalleryma{
	height:auto !important;}

/* Chef List */

.chef-list .nav-tabs{ 
	margin-top:10px;
	border:none;
	width:100%;
	display: inline-block;}

.chef-list .nav-tabs .nav-item{
	margin-bottom:25px;
	display:inline-block;}

.chef-list .nav-tabs .nav-item .nav-link{
	color: #717171;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-bottom: 5px solid #fff;}

.chef-list .nav-tabs .nav-item .nav-link.active{
	color: #717171;
    border: none;
    border-bottom: 5px solid #23D25B;}

/* Chef Filters */

.chef-list .filters{
	line-height: 2.5;}

.chef-list .filters button{
	color: #717171;
    font-size: 16px;
    font-weight: bold;
	background:none;
	border:none;}

.chef-list .filters button span{
	background:url(../images/Menu.png) no-repeat;
	background-size:cover;
	display: inline-block;
	vertical-align: text-bottom;
	height:18px;
	width:18px;
	margin-left:10px;}

/* Food Tab */

.food-block .food-image{
	position:relative;
	border-radius: 15px;
	overflow:hidden;}

.food-block .food-meal-left{
	position:absolute;
	background:#F6F6F6;
	color:#1E1E1E;
	text-align:center;
	border-radius:0px 0px 0px 8px;
    padding: 4px 7px;
    line-height: 16px;
	top:0;
	right:0;}

.food-block .food-meal-left a{
	color:#1E1E1E;
	font-size:16px;}

.food-block .food-meal-left strong{
	display:block;}

.food-block .food-meal-btn{
	position:absolute;
	background:#23D25B;
	color:#fff;
	border-radius:8px;
	bottom:10px; 
	right:10px;}

.food-block .food-meal-btn.red{
	background:#FF0000;}

.food-block .food-meal-btn{
	color:#fff;
	font-size:14px;
	padding: 5px 12px;
    display: block;}

.food-block .food-list-details{
	padding-top: 8px;
	padding-bottom:20px;}

.food-block .food-name{
	font-size:16px;
	font-weight:bold;}

.food-block .star-rating{
	display:block;
	font-size:10px;
	text-align:right;}

.food-block .star-rating .fa-star{
	font-size:11px;}

.food-block .star-rating .rating-lg{
	display:inline-block;
	padding-top:5px;}

.food-block .star-rating .star-count{
	display:inline-block;
	vertical-align: top;
    padding: 3px 0 0;
    font-size: 12px;}

.food-block .food-chef-name{
	font-size:12px;}

.food-block .food-cuisine{
	font-size:12px;}

.food-block .food-serving{
	font-size:12px;
	text-align: right;}

.food-block .food-serving strong{
	display:block;}

.food-block .food-serving i{
	color:#23D25B;}

h5.food-head{
	font-weight:bold;
	margin-bottom:20px;}

/* Chef Tab */

.chef-block{
	text-align:center;
	padding-bottom:20px;}

.chef-block .chef-image{
	position:relative;}

.chef-block .chef-image img{
	border-radius:100%;}

.chef-block .chef-comment-btn{
    background: #FDC200;
    height: 40px;
    width: 45px;
    border-radius: 100px;
    position: absolute;
    bottom: 35px;
    right: 55px;}

.chef-block .chef-comment-btn a{
	color:#fff;}

.chef-block .chef-comment-btn i{
	font-size:22px;
	line-height: 39px;}

.star-rating .caption{
	display:none !important;}

.chef-block .star-rating input{
	border:1px solid #fff;}

.star-rating .fa-star{
	color: #CFCFCF;
  	line-height:18px;
  	font-size:18px;}

.star-rating .fa-star.active{
	color: #23D25B;}

.food-detail .star-rating .fa-star{
  	line-height:20px;
  	font-size:20px;}

.food-detail p{
  	font-size:14px;
	padding:20px 0;}

.food-detail h2{
  	font-size:40px;
	font-weight:bold;}

.chef-block .chef-name{
	font-size:20px;
	font-weight:bold;
	color:#060606;}

.chef-block .chef-review{
	font-size:14px;
	color:#C4C4C4;}

/* Food Detail */

.food-main{
	margin-bottom:50px;}

.food-thumb img{
	margin-bottom:15px;}

.food-thumb{
	max-height: 457px;
    overflow-y: scroll;}

.food-boxes{
	margin:20px 0;
	border:1px solid #707070;
	padding:10px 0;
	color:#707070;}

.food-box:last-child{
	border:none;}

.food-box{
	text-align:center;
	font-size: 14px;
    padding: 0px 20px;
    border-right: 1px solid #707070;}

.food-box strong{
	padding-bottom: 10px;
	display:block;}

.food-box span{
	display:block;}

.food-title h2{
	font-size:26px;}

.food-title p{
	padding: 0;
    margin-bottom: 10px;}

.food-chef img{
	border-radius: 100%;
	width:65px;
	float:left;}

.food-chef h5{
	font-size:18px;
	color:#A5A5A5;
	float:left;
	padding: 18px 10px;}

.food-chef span{
	font-size:11px;
	color:#6B6B6B;
	float:right;
	padding: 25px 10px;}

.food-chef i{
	background:#FDC200;
	color:#fff;
	padding:10px;
	border-radius:25px;
	float:right;
	font-size: 22px;
    margin-top: 10px;}

.food-chef button.btn{
	margin-top: 10px;
    margin-left: 20px;}

.food-quan strong{
	font-size: 16px;
    padding: 12px 0;}

.food-quan .input-group{
	padding:0 30px;}

.food-quan .input-group-btn button{
	background:#000;
	color:#fff;
	border-radius:100%;
	padding: 3px 6px;
	font-size: 12px;
    margin-top: 12px;}

.food-quan input.input-number{
    border: none;
    font-size: 30px;
    color: #000;
    text-align: center;
    width: 60px;
    display: inline-block;}

.food-quan button.btn-success{
	float:right;}

.food-textarea{
	width:100%;
	height:100px;
	padding:10px;
	font-size:16px;
	margin-top:30px;}

/* Become a chef Block */

.become-chef-block{
	background:#23D25B;
	color:#fff;
	position:relative;
	margin:150px 0 150px;}

.become-chef-block .space{
	padding:100px 0;}

.become-chef-block h2{
	font-size:28px;
	font-weight:bold;
	padding-bottom:20px;
	color:#fff;}

.become-chef-block ul{
	padding:0;}

.become-chef-block li{
	list-style:none;
	font-size:18px;
	padding-bottom:10px;}

.become-chef-block button{
	background:#23D25B;
	padding:10px 25px;
	margin-top:50px;
	display:inline-block;
	border:none;	
	border-radius:10px;
	font-size:28px;
	color:#fff;
	box-shadow:10px 14px 30px #00000040;}

.become-chef-banner{
	position:absolute;
	right:10%;
	bottom:0;}

.become-chef-banner img{
	max-width:450px;}

/* Steps Block */

.steps-block h3{
	font-size:27px;
	color:#23D25B;
	font-weight:bold;
	padding:0 40px 0 0;}

.steps-block p{
	font-size:18px;
	color:#23D25B;
	padding:0 40px 0 0;}

/* Apps Download Block */

.apps-block{
	background:#F1C204;
	color:#fff;
	position:relative;
	margin:160px 0 -50px;}

.apps-block .space{
	padding:90px 30px;}

.apps-block h2{
	font-size:58px;
	padding-bottom:20px;
	font-family: 'Abril Fatface';
	color:#fff;}

.apps-block a{
	padding:10px 25px 0 0;
	margin-top:15px;
	display:inline-block;}

.apps-block a img{
	max-width:180px;}

.apps-banner{
	position:absolute;
	right:10%;
	bottom:0;}

.apps-banner img{
	max-width:350px;}


/* My Orders */

.my-order h1{
	color:#23D25B;
	font-size:175px;
	text-align:center;
    font-family: 'Abril Fatface';}

.my-order .post-new{
	text-align:center;}
	
.my-order .post-new button{
	font-size:19px;
	background:none;
	padding: 8px 20px;
    border-radius: 5px;
	color:#23D25B;
	border:1px solid #23D25B;}

.my-order .dash-menu{
	border-top:1px solid #23D25B;
	border-bottom:1px solid #23D25B;
	margin:50px 0 50px;}

.my-order .dash-menu ul{
	padding:0;}

.my-order .dash-menu li{
	padding:5px 15px;}

.my-order .dash-menu a{
	font-size:22px;
	color:#B9B9B9;}

.my-order .dash-menu a:hover,
.my-order .dash-menu a.active{
	color:#23D25B;}

.chef-profile{
	text-align:center;
	font-size:20px;
	font-weight:bold;
	color:#000;}

.chef-profile .form-control{
	background:none;
	border:none;
	font-weight:bold;
	width: 300px;
	font-size:22px;
    margin: 0 auto;
    text-align: center;}

.my-order .chef-profile img{
	border-radius:100%;}

.my-order .chef-circles{
    margin: 0 auto;}

.my-order .chef-circles .col-4{
    text-align: center;}

.my-order .chef-circles p{
	color:#686868;
	font-size:20px;}

.my-order .chef-circles .round{
	color:#686868;
	margin:0 auto;
	font-size:20px;
	border:1px solid #23D25B;
	border-radius:100px;
	text-align: center;
	padding-top: 20px;
	width:73px;
	height:73px;}

.my-order .desc-edit{
    margin: 0 auto;}

.my-order .desc-edit textarea{
	background:none;
	border:none;
	font-size:13px;
	color: #23D25B;
	text-align:center;}

/* Order List */

.order-list ul.nav{
	display: inline-block;
	width:100%;
	text-align:center;
	border-bottom: none;
	margin-bottom:40px;}

.order-list .nav li{
	display: inline-block;
	background: #F2F2F2;
	border-radius:100px;
	border-bottom: none;
	padding:0;
	margin:0;}

.order-list .nav li a{
	color: #23D25B;
	font-size:20px;
	border-radius:100px;
	border-bottom: none;
	width: 220px;}

.order-list .nav li a.active{
	background: #23D25B;
	color: #fff;
    z-index: 999;
    position: relative;}

.order-list .nav li:first-child a.active{
	margin-right: -40px;
    box-shadow: 12px 0px 32px #dad7d7;}

.order-list .nav li:last-child a.active{
	margin-left: -40px;
    box-shadow: -12px 0px 30px #dad7d7;}

.order-block{
	margin-bottom:30px;
	padding: 20px;
    box-shadow: 5px 10px 30px #efeeee;}

.order-block h4{
	font-size:20px;
	color:#21D567;
	font-weight:bold;}

.order-block p{
	font-size:16px;
	color:#343634;
	margin:0;}

.order-block .price{
	font-size:16px;
	color:#343634;}

.order-block .cancel-time{
	text-align:center;
	font-size:16px;
	color:#9F9F9F;}

.order-block .cancel-btn{
	text-align:right;}

.order-block .cancel-btn button{
	font-size:14px;
	background:#CFCFCF;
	border:none;
	border-radius:20px;
	color:#fff;
	padding: 0 16px;}

.order-block .cancel-btn button:hover,
.order-block .cancel-btn button.active{
	background:#FF0C0C;}

.order-block .date-time{
	font-size:14px;
	color:#ABABAB;
	text-align:right;
	padding-bottom: 25px;}

.order-block .stars{
	text-align:right;}

.order-block .stars i{
	font-size:28px;
	color:#CFCFCF;}

.order-block .stars i.active{
	color:#23D25B;}

/* Order Receipt */

.receipt{
    text-align: right;
    padding: 15px 20px;
    box-shadow: 8px 10px 20px #ccc;
    margin-bottom: 40px;}

.receipt h3{
	font-size:28px;
	color:#474747;
	float:left;}

.receipt span{
	font-size:28px;
	color:#474747;
	padding: 0 20px;}

.receipt i{
	font-size:15px;
	color:#fff;
	border-radius:25px;
	background:#000;
	padding: 2px 3px;
	vertical-align: super;
	cursor:pointer;}

.receipt-form{
    box-shadow: 8px 10px 20px #ccc;
	padding:20px 25px;
	margin-top:100px;}

.receipt-form h2{
	font-size:21px;
	color:#000000;
	font-weight:bold;}

.receipt-form button{
	background:#23D25B;
	border:none;
	font-size:21px;
	padding:5px 30px;
	margin:10px 0;
	float: right;}

.cart-detail{
	padding-left:20px;}

.cart-box{
	display: block;
    clear: both;
	margin-bottom: 20px;
    min-height: 25px;}

.cart-box h5{    
	float: left;
	font-size:15px;}

.cart-box span{
	float:right;
	font-size:15px;}

.cart-box hr{}

.cart-detail button{
	background:#23D25B;
	font-size:21px;
	border:none;}



/* Edit Profile */ 

.profile{
	padding-top:50px;}

.profile label{
	font-size:16px;
	color:#8D8D8D;}

.profile .form-group{
	padding:0 50px;}

.profile .form-group input{
	color:#000000;
	font-size:18px;
	padding:20px;}

.profile .btn-sign{
	text-align:center;
	margin-top:40px;}

.profile .btn-sign button{
	background:#23D45F;
	color:#fff;
	font-size:18px;
	border:none;}

/* Active Order */

.active-order{
	padding-bottom:40px;
	margin-top:40px;
	border-bottom:1px solid #E4E4E4;}

.active-order h3{
	font-size:24px;
	color:#23D25B;}

.active-order h4{
	font-size:22px;
	color:#BCBCBC;
	font-weight:bold;
	text-align:right;}

.active-order h5{
	font-size:18px;
	color:#23D25B;
	margin-top:20px;}

.active-order p{
	font-size:18px;
	margin-bottom:5px;}

.active-order button{
	font-size:18px;
	color:#23D25B;
	float:right;
	border-color:#23D25B;}

/* Live Chat */

.chat .chat-img{
	width: 75px;
    height: 75px;
	margin-top: -10px;}

.history-chat{
	border:1px solid #CCC;}

.history-chat .chat-header{
	padding:25px;
	color:#23D25B;
	font-size:18px;
	display:block;
	border-bottom:1px solid #CCC;}

.history-chat .chat-header i{
	color:#23D25B;
    padding-top: 1px;
	font-size:24px;}

.history-chat .chat-header img{
	width:20px;
	padding-top: 3px;
	float:right;}

.history-chat .chat-body{
	overflow-y: scroll;
	display:block;
	padding:30px;
	height:500px;}

.history-chat .chat-body .chat-box{
	min-height:90px;
	margin-bottom: 35px;
	border-bottom:1px solid #ccc;}

.history-chat .chat-body .chat-box:last-child{
	border-bottom: none;}

.history-chat .chat-body .chat-box h4{
	color:#000;
	font-weight:bold;
	font-size:18px;}

.history-chat .chat-body .chat-box h5{
	color:#B9B9B9;
	font-size:18px;}

.history-chat .chat-body .chat-box span{
	color:#B9B9B9;
	font-size:18px;}

.live-chat{
	border:1px solid #CCC;}

.live-chat .chat-header{
	display:block;
	padding:25px;
	color:#23D25B;
	font-size:18px;
	border-bottom:1px solid #CCC;}

.live-chat .chat-header i{
	color:#23D25B;
	padding-top: 1px;
	font-size:24px;}

.live-chat .chat-body{
	overflow-y: scroll;
	display:block;
	padding:30px;
	height:400px;}

.live-chat .chat-body .chat-box{
	min-height:60px;}

.live-chat .chat-body .chat-box .chating-img img{
	width:50px;
	height:50px;
	margin:0;}

.live-chat .chat-body .chat-box .chating-img{
	float:left;}

.live-chat .chat-body .chat-box .chating-text{
	float:left;
	color:#fff;
	padding: 5px 20px;
	border-radius:25px;
	font-size:16px;
    margin: 6px 15px;}

.live-chat .chat-body .chat-box.sender .chating-text{
	background:#23d25b;}

.live-chat .chat-body .chat-box.receiver .chating-text{
	background:#f3bd08;}

.live-chat .chat-body .chat-box.sender .chating-img{
	float:right;}

.live-chat .chat-body .chat-box.sender .chating-text{
	float:right;}

.chat-footer{
	padding: 25px;}

.chat-footer input{
	border: 1px solid #CCC;
    border-radius: 25px;
    font-size: 20px;
    padding: 8px 20px;
    width: 88%;
    margin-right: 20px;}

.chat-footer button{
	background: #23d25b;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    padding: 14px;}

/* Order Dashboard */

.order-detail .edit{
	display:block;
	padding-top:10px;
	color:#23D25B;
	font-size:20px;}

.order-detail button{
	font-weight:bold;}

.order-detail .star-rating{
	padding:10px 0 20px;
	color:#CFCFCF;
	font-size:20px;}

.order-detail .star-rating i{
	color:#CFCFCF;
	font-size:25px;}

.order-detail .star-rating i.active{
	color:#23D25B;}

.order-comments h2{
	margin-top:30px;
	margin-bottom:40px;
	font-size:22px;
	color:#707070;
	font-weight:bold;}

.order-comments .order-scroll{
	max-height:500px;
	overflow-y:scroll;
	padding-right: 40px;}

.order-comments .cmnt-box{
	position:relative;
	margin-bottom:30px;}

.order-comments .cmnt-box img{
	height:70px;
	width:70px;
	border-radius:100%;
	float:left;
	margin-right: 25px;}

.order-comments .cmnt-box h5{
	color:#707070;
	font-size:18px;
	font-weight:bold;
	margin-bottom:2px;}

.order-comments .cmnt-box p{
	color:#707070;
	display:block;
	font-size:14px;
	margin-bottom: 0;
	padding:0}

.order-comments .cmnt-box span{
	color:#707070;
	font-size:11px;
	position: absolute;
    top: 0;
    right: 0;}

.chef-detail {
    padding-right: 40px;
    border-right: 1px solid #ccc;
    margin-right: 20px;}

/* New Post */

#new-post .main-img{
    border: 1px solid #23D25B;
    width: 300px;
    height: 293px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;}

#new-post .thumb-img{}

#new-post .thumb-img ul{
	padding: 0;}

#new-post .thumb-img ul li{
    border: 1px solid #23D25B;
    width: 75px;
    height: 74px;
    display: inline-block;
    list-style: none;
    margin: 15px 5px;
    border-radius: 10px;
    overflow: hidden;}

#new-post label{
	color:#23D25B;}

#new-post input{
    border: 1px solid #23D25B;}

#new-post select{
    border: 1px solid #23D25B;}

#new-post textarea{
    border: 1px solid #23D25B;
	height:110px;}





/* Food Details */

#carousel-example-generic {

}

#carousel-custom {
	
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}

/* 3 Steps New */

#wait-overley {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 9999999;
	display: none;
}

.hide {
	display: none;
}

.gopop#varify .var-num .code input{
	padding: 0;
	width: 30px;
    margin: 0 5px;
}

.fa.fa-star.active {
	color: #23d25b !important;
}

/**Step form**/
/*form styles*/
#msform {
	text-align: center;
	position: relative;
	margin-top: 30px;
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 0px;
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	

	/*stacking fieldsets above each other*/
	position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 0px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}

#msform input:focus, #msform textarea:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid #23d25b;
	outline-width: 0;
	transition: All 0.5s ease-in;
	-webkit-transition: All 0.5s ease-in;
	-moz-transition: All 0.5s ease-in;
	-o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
	width: 100px;
	background: #23d25b;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 25px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #23d25b;
}

#msform .action-button-previous {
	width: 100px;
	background: #C5C5F1;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 25px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
	font-size: 18px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
	letter-spacing: 2px;
	font-weight: bold;
}

.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
	margin-bottom: 0px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	padding:0;
}

#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
	letter-spacing: 1px;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	font-size: 14px;
	color: #333;
	background: white;
	border-radius: 25px;
	margin: 0 auto 10px auto;
	z-index: 999;
    position: relative;
}

/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #23d25b;
	position: absolute;
	left: -50%;
	top: 12px;
	z-index: 0; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
	background: #23d25b;
	color: white;
}
#image_preview{
	display:inline-block;}

#image_preview img{
	width:100px;}	
#msform .input-group.mb-3.text-center img {
    margin: 0 auto;
}
/* Not relevant to this form */
.dme_link {
	margin-top: 30px;
	text-align: center;
}

.dme_link a {
	background: #FFF;
	font-weight: bold;
	color: #23d25b;
	border: 0 none;
	border-radius: 25px;
	cursor: pointer;
	padding: 5px 25px;
	font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
	background: #23d25b;
	text-decoration: none;
}

#becomechef.gopop .modal-body {
    padding: 0px 25px 20px;
}

#msform .imageuploadify {
    border: none;
    position: relative;
    min-height: auto;
    min-width: auto;
    max-width: auto;
    margin: auto;
    display: flex;
    padding: 0;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    color: #3AA0FF;
}
#msform .imageuploadify .imageuploadify-images-list button.btn-default{
	width:140px;
	font-size:16px;
    background-color: #fff !important;
	border-radius:15px !important;
	color:#23d25b !important;
	border-color: #23d25b !important;}

#msform .imageuploadify .imageuploadify-images-list .imageuploadify-container{
	display:inline-block;
	float:none;}
	
/* My account */

.btn-primary,.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle,
.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle{
	background:#23d25b;
	border-color:#23d25b;}

.btn-primary.focus, .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
	box-shadow:0 0 0 0.2rem rgba(33, 213, 103, 0.42);}

.my-account{
	margin-top: 30px;
	margin-bottom:30px;
	border-bottom:NONE;}

.my-account li{
	background:#23d25b;
	border: none;
	margin-right:10px;}

.my-account a{
	color:#fff;}

.my-account.nav-tabs .nav-item.show .nav-link, 
.my-account.nav-tabs .nav-link.active{
	background:#23d25b;
	border:none;}

.my-account{}

/* Footer Section */

footer{
	background:#21D567;
	color:#fff;
	margin-top:50px;
	padding: 30px 0;
	padding-bottom:60px;
	font-size:18px;}

footer button.btn-outline-success{
	color:#fff;
	border:1px solid #fff;}

footer .footer-logo{
	padding-bottom:60px;
	width:100%;}

footer .logo-footer{
	display:inline-block;}

footer .copyright{
	font-size:18px;
	display:inline-block;}

footer .footer-nav{}

footer a{
	color:#fff;}

footer ul{
	padding:0;}

footer li{
	list-style:none;}

#navbarSupportedContent ul.navbar-nav li a.btn.btn-outline-success.active{
	padding: 6px 15px;
	margin-right: 5px;}






@media (min-width: 1300px){
	.container {
		max-width: 1300px;
	}
}

@media (max-width: 1200px){
	.container {
		max-width: 1000px;}
	header{
		padding:0 20px;}
	section.banner{
		margin-bottom:0;}
	.steps-block h3{
		font-size:22px;}
	.steps-block p{
		font-size:14px;}
	.apps-block h2{
		font-size:45px;}
	.apps-banner img{
		width:280px;}
	.food-block .food-name{
		font-size:15px;}
	.apps-block{
		margin:180px 0 -50px;}
	.apps-block a{
		margin:0;}
	.apps-block a img{
		width:180px;}
	.apps-block .space{
		padding:50px 0;}
	.become-chef-banner img{
		width:330px;
		max-width:100%;}
	.become-chef-block{
		margin:180px 0 70px;}
	.become-chef-block h2{
		font-size:26px;}
	.become-chef-block li{
		padding-bottom:0;
		font-size:16px;}
	.become-chef-block button{
		font-size:26px;}
	.become-chef-block .space {
    	padding: 70px 0;}
}

@media (max-width: 1100px){
	.container{
		max-width:960px;}
	.become-chef-block .space,
	.apps-block .space {
    	padding: 70px 25px;}
}

@media (max-width: 992px){
	section.banner{
		height:470px;
		padding: 100px 0;}
	.apps-block{
		margin:80px 0 -50px;}
	.become-chef-block .space, .apps-block .space{
		padding:45px 25px;}
	.apps-block a img{
		width:150px;}
	.apps-banner img {
   		width: 220px;}
	.apps-block h2 {
    	font-size: 40px;}
	footer .footer-logo{
		text-align:center;
		padding-bottom: 30px;}
	footer .footer-nav,
	footer .col-sm-12{
		text-align:center;}
	footer .form-inline{
		width: 260px;
    	margin: 0 auto;
		padding-bottom: 20px;}
	footer .form-control{
		width:auto;}
	/* Nav responsive */
	.navbar-collapse{
		text-align: center;}
	.navbar-collapse .navbar-nav{
		margin-bottom:20px;}
	.navbar-collapse .navbar-nav li{
		text-align:center;
		background: #23d25b;
		display: block;}
	.navbar-collapse .navbar-nav li a{
		color:#fff;
		padding: 10px 15px 0;
		display: block;
		font-size: 16px;}
	.navbar-collapse .navbar-nav li:last-child a{
		padding-bottom:10px;}
	.navbar-collapse .dropdown{
		display:inline-block;
		vertical-align: middle;
		width:60px;}
	.navbar-collapse a.prof-pic img {
		width: 60px;}
	.navbar-collapse a.prof-pic span{
		width: 10px;
		height: 10px;
		right: 10px;
		bottom: 14px;}
	.navbar-collapse a.prof-pic{
		margin:0;}
	.my-order h1{
		font-size:100px;}
	.my-order .post-new button{
		font-size: 14px;
		padding: 5px 15px;}
	.my-order .dash-menu a {
	    font-size: 16px;}
	.my-order .dash-menu li {
	    padding: 0px 15px;}
	.my-order .chef-profile img {
		border-radius: 100%;
		max-width: 260px;
		margin-bottom: 25px;}
	.receipt-form{
		margin-top: 60px;}
	.cart-detail{
		margin-top: 60px;}
	
	
	
	
	
	
	
	
	
	
	
}

@media (max-width: 768px){
	section.banner .container{
		max-width:90%;}
	.gopop .modal-dialog {
    	max-width: 600px;}
	.gopop .modal-body {
	    padding: 30px 60px 20px;}
	.gopop .modal-header img {
    	width: 30px;}
	.gopop .modal-header .modal-title {
		font-size: 20px;}
	.gopop .modal-header{
		padding:15px 30px}
	.gopop .modal-header .close{
		top: -15px;
   		right: -25px;}
	.gopop .modal-footer{
		font-size: 14px;
    	padding: 20px 10px;}
	.gopop .form-control {
		height: calc(2.25rem + 5px);}
	.gopop .btn-sign {
		padding-top: 10px;
		padding-bottom: 10px;}
	.gopop button.btn.btn-primary{
		font-size: 14px;
    	padding: 5px 25px;}
	.gopop .form-group label{
		font-size:14px;}
	.gopop .arrow-down img {
		width: 25px;}
	.apps-block h2{
		font-size:30px;}
	.apps-block a img {
   		swidth: 120px;}
	section.banner h1{
		font-size:70px;}
	section.banner h3 {
	    font-size: 35px;}
	section.banner .banner-form input{
		width: 100%;
		margin-bottom: 15px;}
	section.banner .banner-form button{
		margin-left:0;}
	section.banner .banner-form a{
		margin-top: -15px;}
	.my-order .chef-circles .round{
		font-size:16px;
		width: 65px;
    	height: 65px;}
	.my-order .chef-circles p{
		font-size:16px;
		padding-bottom:0;}
	.my-order h1 {
	    font-size: 60px;}
	.my-order .dash-menu li {
	    padding: 0;}
	#product-detail-page section.banner {
	    height: 320px;
	    padding: 15px 0;}
	.receipt h3{
		font-size:24px;
		margin: 0;}
	.receipt span {
    	font-size: 24px;
		line-height: 24px;}
	.receipt i{
		font-size: 12px;
		padding: 3px 4px;}
	.chef-detail{
		padding-right:0;
		border:none;
		margin-right:0;}
	.chef-detail img{
		border-radius:100%;
		max-width: 260px;}
	.food-detail h2{
		font-size:24px;}
	.food-detail p{
		padding: 10px 0;}
	.become-chef-banner{
		right:0;}
	.become-chef-block button {
	    font-size: 20px;}
	.become-chef-block h2 {
    	font-size: 24px;}
	.become-chef-block li{
		font-size:14px;}
	.steps-block h3,
	.steps-block p{
		padding:0;
		text-align:center;}

}

@media (max-width: 575px){
	section.banner{
		height:300px;
		padding:40px 0;}
	section.banner h3 {
	    font-size: 30px;}
	section.banner h1 {
	    font-size: 56px;
		margin-bottom:0;}
	section.banner .banner-form button.btn-outline-success:disabled,
	section.banner .banner-form button{
		font-size:14px;
		padding:5px 15px;}
	section.banner .banner-form input{
		font-size:0.9rem;
		padding: 15px;}
	section.banner .banner-form a{
		width:20px;
		height:20px;
		background-size:contain;
		margin-left:-25px;}
	.apps-banner{
		position:static;
		margin: 0 auto;
		padding-bottom:20px;
		padding-top: 20px;}
	.apps-block h2{
		padding-bottom:0;}
	.apps-block .space{
		padding-top:20px;
		text-align:center;
		padding-bottom:0;}
	.become-chef-banner{
		position:static;
		margin:0 auto;}
	.become-chef-block .space{
		text-align:center;}
	.become-chef-block{
		margin-bottom:45px;
		margin-top:50px;}
	.apps-block{
		margin-top:45px;}
	.food-block .food-image{
		text-align:center;}
	.food-boxes{
		display:block !important;
		padding: 0;}
	.food-box{
		border-right:0;
		padding: 10px;
		border-bottom:1px solid #707070;}
	.gopop .modal-body {
	    padding: 20px 30px 20px;}
}


