/* CSS Document */
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Bold.eot');
    src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-Bold.woff2') format('woff2'),
        url('../fonts/SegoeUI-Bold.woff') format('woff'),
        url('../fonts/SegoeUI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Light.eot');
    src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-Light.woff2') format('woff2'),
        url('../fonts/SegoeUI-Light.woff') format('woff'),
        url('../fonts/SegoeUI-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Semibold.eot');
    src: url('../fonts/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-Semibold.woff2') format('woff2'),
        url('../fonts/SegoeUI-Semibold.woff') format('woff'),
        url('../fonts/SegoeUI-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Italic.eot');
    src: url('../fonts/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-Italic.woff2') format('woff2'),
        url('../fonts/SegoeUI-Italic.woff') format('woff'),
        url('../fonts/SegoeUI-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.eot');
    src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI.woff2') format('woff2'),
        url('../fonts/SegoeUI.woff') format('woff'),
        url('../fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Abril Fatface';
    src: url('../fonts/AbrilFatface-Regular.eot');
    src: url('../fonts/AbrilFatface-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AbrilFatface-Regular.woff2') format('woff2'),
        url('../fonts/AbrilFatface-Regular.woff') format('woff'),
        url('../fonts/AbrilFatface-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
	font-size:14px;}

body,h1,h2,h3,h4,h5,h6,a,button,span{
	font-family: 'Segoe UI';
}

a:hover{
	text-decoration:none;}

/* Header Section */ 

header{
	padding:0 95px;
	box-shadow: 0px -10px 30px #ccc;
}

/* Header Nav */

nav.navbar {
    padding-top: 25px;
	padding-bottom: 30px;
}

nav.navbar button{
	margin:0 5px;
}
.navbar-light .navbar-nav .nav-link,
nav.navbar li a {
    font-size: 16px;
    font-weight: bold;
    color: #000;
	padding:0 15px;
}

/* Popup style */

.gopop .modal-dialog{
	max-width:700px;}

.gopop .modal-content{
	border-radius: 6px;
    overflow: hidden;}

.gopop .modal-header{
	background:#23D25B;
	position:relative;
	border-radius: 5px 5px 10px 10px;
	border-bottom: 0;
	padding: 25px 40px;}

.gopop .modal-header img{
	width:55px;}

.gopop .modal-header .modal-title{
	font-size:32px;
	font-weight:bold;
	text-align:center;
	color:#fff;}

.gopop .modal-header .close{
	margin:0;
	color:#fff;
	padding: 0;
    opacity: 1;
	position: relative;
    top: -20px;
    right: -30px;}

.gopop .arrow-down{
	text-align:center;}

.gopop .arrow-down img{
	width:35px;}

.gopop .modal-body{
	padding: 55px 125px 20px;}

.gopop .form-control{
	height: calc(2.25rem + 10px);}

.gopop .form-group label{
	color:#747474;
	font-size:15px;}

.gopop .input-group-text{
	background:none;}

.gopop button.btn.btn-primary {
    background: #23D25B;
    font-size: 17px;
    border-color: #23D25B;
    padding: 8px 32px;}

.gopop .btn-sign{
	padding-top: 30px;
    padding-bottom: 20px;}

.gopop .text-sign a{
	color:#000;
	font-weight:bold;}

.gopop .btn-sign,.gopop .text-sign {
    text-align: center;}

.gopop .modal-footer{
	text-align:center;
	color:#747474;
	font-size:15px;
	padding: 30px 20px;
	display: block;
	background:#F9F9F9;}

.gopop#becomechef .modal-body{
	padding-top:10px;}

.gopop#becomechef .modal-header .modal-title span{
	font-size: 24px;
    font-weight: normal;
    position: absolute;
    right: 20px;
    bottom: 10px;}

.gopop#becomechef .triggerinput{
	display:none;}

.gopop#becomechef p{
	text-align:center;
	font-size:21px;
	color:#878787;}

.gopop#becomechef #triggerimg{
	margin: 0 auto;
    width: 204px;
    height: 163px;}

.gopop#becomechef .gallery-block {
    position: relative;
    overflow: hidden;
}
.gopop#becomechef .gallery-block .field{
	width:100%;
	text-align: center;}
.gopop#becomechef .gallery-block p{
	font-size:13px;
	text-align:center;}
.gopop#becomechef .gallery-block input#files,
.gopop#becomechef .gallery-block input#files2 {
	display:none;}
.gopop#becomechef .gallery-block .pip{
	display:inline-block;
	position: relative;
    margin: 0 5px 15px;}
.gopop#becomechef .gallery-block .pip img{
	width:70px;
	height:70px;
	border:1px solid #707070;}
.gopop#becomechef .gallery-block .remove{
    background: #000;
    color: #fff;
    font-size: 16px;
    border-radius: 100px;
    position: absolute;
    z-index: 999;
    height: 15px;
    width: 15px;
    line-height: 12px;
	cursor:pointer;
    right: -5px;
    top: -5px;}

.gopop#becomechef .gallery-block .triggerbtn,
.gopop#becomechef .gallery-block .triggerbtn2{
    display: block;
    margin: 0 auto;
	color:#21D567;
	font-size:17px;
	background:none;
	padding:8px 25px;
	cursor:pointer;
	border-radius: 5px;
	border:1px solid #21D567;}

.gopop#becomechef .btn-sign{
	padding-top:0;}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.gopop#varify .var-num p{
	font-size:13px;
	color:#878787;
    text-align: center;
	margin:0;}

.gopop#varify .var-num .input-control{
	position:relative;
	margin-top:20px;}

.gopop#varify .var-num input.form-control{
	font-size:19px;
	color:#878787;
	font-weight:bold;
	border:none;
    text-align: center;
    background: #fff;
	width: 250px;
    margin: 0 auto;}

.gopop#varify .var-num .input-group-addon{
	font-size: 19px;
    color: #21D567;
    padding: 10px;
    border: none;
	cursor:pointer;
    position: absolute;
    right: 65px;
	z-index: 999;
    top: 5px;}

.gopop#varify .var-num .code{
	text-align: center;
	max-width: 160px;
    margin: 40px auto 60px;}

.gopop#varify .var-num .code .col-3{
	padding:0;}

.gopop#varify .var-num .code input{
	color:#000;
	font-weight:bold;
	font-size:38px;
	border:none;
	border-bottom:2px solid #707070;
	width: 30px;
    text-align: center;}

.gopop#varify .var-num .code input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color:#D5D5D5;
}
.gopop#varify .var-num .code input::-moz-placeholder { /* Firefox 19+ */
	color:#D5D5D5;
}
.gopop#varify .var-num .code input:-ms-input-placeholder { /* IE 10+ */
	color:#D5D5D5;
}
.gopop#varify .var-num .code input:-moz-placeholder { /* Firefox 18- */
	color:#D5D5D5;
}

/* Main Banner */

section.banner{
	height:600px;
	width:100%;
	padding:150px 0;
	background:url('../images/Group783@2x.png') no-repeat top center;}

section.banner h3{
	font-size:56px;
	color:#23D25B;
	font-family: 'Abril Fatface';
	margin:0;
    text-shadow: 5px 5px 40px #000000;}

section.banner h1{
	font-size:100px;
	color:#23D25B;
	line-height: 100px;
	font-family: 'Abril Fatface';
    margin-top: -20px;
    margin-bottom: 40px;
    text-shadow: 5px 5px 40px #000000;}

section.banner .banner-form{
	position:relative;}

section.banner .banner-form input{
	width: 60%;
    padding: 22px;
    border-radius: 0;}

section.banner .banner-form a{
	background:url('../images/Symbol44@2x.png') no-repeat center right;
	width:28px;
	height:28px;
	margin-left:-45px;}

section.banner .banner-form button{
    border-radius: 0;
	padding: 10px 20px;
	margin-left: 20px;}

/* Chef List */

.chef-list .nav-tabs{
	margin-top:50px;
	border:none;
	width:100%;
	display: inline-block;}

.chef-list .nav-tabs .nav-item{
	margin-bottom:25px;
	display:inline-block;}

.chef-list .nav-tabs .nav-item .nav-link{
	color: #717171;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-bottom: 5px solid #fff;}

.chef-list .nav-tabs .nav-item .nav-link.active{
	color: #717171;
    border: none;
    border-bottom: 5px solid #23D25B;}

/* Chef Filters */

.chef-list .filters{
	line-height: 2.5;}

.chef-list .filters button{
	color: #717171;
    font-size: 20px;
    font-weight: bold;
	padding: .5rem 1rem;
	background:none;
	border:none;}

.chef-list .filters button span{
	background:url(../images/Menu.png) no-repeat;
	display: inline-block;
	vertical-align: text-bottom;
	height:23px;
	width:23px;
	margin-left:10px;}

/* Food Tab */

.food-block .food-image{
	position:relative;
	border-radius: 15px;
	overflow:hidden;}

.food-block .food-meal-left{
	position:absolute;
	background:#F6F6F6;
	color:#1E1E1E;
	text-align:center;
	border-radius:0px 0px 0px 8px;
    padding: 4px 7px;
    line-height: 16px;
	top:0;
	right:0;}

.food-block .food-meal-left a{
	color:#1E1E1E;
	font-size:16px;}

.food-block .food-meal-left strong{
	display:block;}

.food-block .food-meal-btn{
	position:absolute;
	background:#23D25B;
	color:#fff;
	border-radius:8px;
	bottom:10px; 
	right:10px;}

.food-block .food-meal-btn.red{
	background:#FF0000;}

.food-block .food-meal-btn a{
	color:#fff;
	font-size:16px;
	padding: 7px 18px;
    display: block;}

.food-block .food-list-details{
	padding-top: 8px;
	padding-bottom:20px;}

.food-block .food-name{
	font-size:18px;
	font-weight:bold;}

.food-block .star-rating{
	display:block;
	font-size:10px;
	text-align:right;}

.food-block .star-rating .fa-star{
	font-size:11px;}

.food-block .star-rating .rating-lg{
	display:inline-block;
	padding-top:5px;}

.food-block .star-rating .star-count{
	display:inline-block;
	vertical-align: top;
    padding: 3px 0 0;
    font-size: 12px;}

.food-block .food-chef-name{
	font-size:14px;}

.food-block .food-cuisine{
	font-size:14px;}

.food-block .food-serving{
	font-size:14px;
	text-align: right;}

.food-block .food-serving strong{
	display:block;}

.food-block .food-serving i{
	color:#23D25B;}

/* Chef Tab */

.chef-block{
	text-align:center;
	padding-bottom:20px;}

.chef-block .chef-image{
	position:relative;}

.chef-block .chef-comment-btn{
    background: #FDC200;
    height: 40px;
    width: 45px;
    border-radius: 100px;
    position: absolute;
    bottom: 35px;
    right: 55px;}

.chef-block .chef-comment-btn a{
	color:#fff;}

.chef-block .chef-comment-btn i{
	font-size:22px;
	line-height: 39px;}

.star-rating .caption{
	display:none !important;}

.chef-block .star-rating input{
	border:1px solid #fff;}

.chef-block .star-rating .fa-star{
	color: #CFCFCF;
  	line-height:18px;
  	font-size:18px;}

.chef-block .star-rating .fa-star.active{
	color: #23D25B;}

.chef-block .chef-name{
	font-size:24px;
	font-weight:bold;
	color:#060606;}

.chef-block .chef-review{
	font-size:14px;
	color:#C4C4C4;}

/* Become a chef Block */

.become-chef-block{
	background:#23D25B;
	color:#fff;
	position:relative;
	margin:180px 0 200px;}

.become-chef-block .col-6{
	padding:140px 0;}

.become-chef-block h2{
	font-size:31px;
	font-weight:bold;
	padding-bottom:20px;
	color:#fff;}

.become-chef-block ul{
	padding:0;}

.become-chef-block li{
	list-style:none;
	font-size:21px;
	padding-bottom:10px;}

.become-chef-block button{
	background:#23D25B;
	padding:10px 25px;
	margin-top:50px;
	display:inline-block;
	border:none;	
	border-radius:10px;
	font-size:31px;
	color:#fff;
	box-shadow:10px 14px 30px #00000075;}

.become-chef-banner{
	position:absolute;
	right:10%;
	bottom:0;}

/* Steps Block */

.steps-block h3{
	font-size:27px;
	color:#23D25B;
	font-weight:bold;
	padding:0 40px 0 0;}

.steps-block p{
	font-size:18px;
	color:#23D25B;
	padding:0 40px 0 0;}

/* Apps Download Block */

.apps-block{
	background:#F1C204;
	color:#fff;
	position:relative;
	margin:240px 0 200px;}

.apps-block .col-6{
	padding:100px 0;}

.apps-block h2{
	font-size:70px;
	padding-bottom:20px;
	font-family: 'Abril Fatface';
	color:#fff;}

.apps-block a{
	padding:10px 25px 0 0;
	margin-top:50px;
	display:inline-block;}

.apps-banner{
	position:absolute;
	right:10%;
	bottom:0;}

/* My Orders */

.my-order h1{
	color:#23D25B;
	font-size:200px;
	text-align:center;
    font-family: 'Abril Fatface';}

.my-order .post-new{
	text-align:center;}
	
.my-order .post-new button{
	font-size:19px;
	background:none;
	padding: 8px 20px;
    border-radius: 5px;
	color:#23D25B;
	border:1px solid #23D25B;}

.my-order .dash-menu{
	border-top:1px solid #23D25B;
	border-bottom:1px solid #23D25B;
	margin:50px 0 20px;}

.my-order .dash-menu ul{
	padding:0;}

.my-order .dash-menu li{
	padding:5px 15px;}

.my-order .dash-menu a{
	font-size:22px;
	color:#B9B9B9;}

.my-order .dash-menu a:hover,
.my-order .dash-menu a:active,{
	color:#23D25B;}

.chef-profile{
	text-align:center;
	font-size:20px;
	font-weight:bold;
	color:#000;}

.chef-profile .form-control{
	background:none;
	border:none;
	font-weight:bold;
	width: 300px;
	font-size:22px;
    margin: 0 auto;
    text-align: center;}

.my-order .chef-circles{
    margin: 0 auto;}

.my-order .chef-circles .col-4{
    text-align: center;}

.my-order .chef-circles p{
	color:#686868;
	font-size:20px;}

.my-order .chef-circles .round{
	color:#686868;
	margin:0 auto;
	font-size:20px;
	border:1px solid #23D25B;
	border-radius:100px;
	text-align: center;
	padding-top: 20px;
	width:73px;
	height:73px;}

.my-order .desc-edit{
    margin: 0 auto;}

.my-order .desc-edit textarea{
	background:none;
	border:none;
	font-size:13px;
	color: #23D25B;
	text-align:center;}

/* Order List */

.order-list ul.nav{
	display: inline-block;
	width:100%;
	text-align:center;
	border-bottom: none;
	margin-bottom:40px;}

.order-list .nav li{
	display: inline-block;
	background: #F2F2F2;
	border-radius:100px;
	border-bottom: none;
	padding:0;
	margin:0;}

.order-list .nav li a{
	color: #23D25B;
	font-size:20px;
	border-radius:100px;
	border-bottom: none;
	width: 220px;}

.order-list .nav li a.active{
	background: #23D25B;
	color: #fff;
    z-index: 999;
    position: relative;}

.order-list .nav li:first-child a.active{
	margin-right: -40px;
    box-shadow: 12px 0px 32px #dad7d7;}

.order-list .nav li:last-child a.active{
	margin-left: -40px;
    box-shadow: -12px 0px 30px #dad7d7;}

.order-block{
	margin-bottom:30px;
	padding: 20px;
    box-shadow: 5px 10px 30px #efeeee;}

.order-block h4{
	font-size:20px;
	color:#21D567;
	font-weight:bold;}

.order-block p{
	font-size:16px;
	color:#343634;
	margin:0;}

.order-block .price{
	font-size:16px;
	color:#343634;}

.order-block .cancel-time{
	text-align:center;
	font-size:16px;
	color:#9F9F9F;}

.order-block .cancel-btn{
	text-align:right;}

.order-block .cancel-btn button{
	font-size:14px;
	background:#CFCFCF;
	border:none;
	border-radius:20px;
	color:#fff;
	padding: 0 16px;}

.order-block .cancel-btn button:hover,
.order-block .cancel-btn button.active{
	background:#FF0C0C;}

.order-block .date-time{
	font-size:14px;
	color:#ABABAB;
	text-align:right;
	padding-bottom: 25px;}

.order-block .stars{
	text-align:right;}

.order-block .stars i{
	font-size:28px;
	color:#CFCFCF;}

.order-block .stars i.active{
	color:#23D25B;}

/* Edit Profile */ 

.profile{
	padding-top:50px;}

.profile label{
	font-size:16px;
	color:#8D8D8D;}

.profile .form-group{
	padding:0 50px;}

.profile .form-group input{
	color:#000000;
	font-size:18px;
	padding:20px;}

.profile .btn-sign{
	text-align:center;
	margin-top:40px;}

.profile .btn-sign button{
	background:#23D45F;
	color:#fff;
	font-size:18px;
	border:none;}

/* Active Order */

.active-order{
	padding-bottom:40px;
	margin-top:40px;
	border-bottom:1px solid #E4E4E4;}

.active-order h3{
	font-size:24px;
	color:#23D25B;}

.active-order h4{
	font-size:22px;
	color:#BCBCBC;
	font-weight:bold;
	text-align:right;}

.active-order h5{
	font-size:18px;
	color:#23D25B;
	margin-top:20px;}

.active-order p{
	font-size:18px;
	margin-bottom:5px;}

.active-order button{
	font-size:18px;
	color:#23D25B;
	float:right;
	border-color:#23D25B;}

.active-order {}

.active-order {}

.active-order {}

/* Footer Section */

footer{
	background:#21D567;
	color:#fff;
	margin-top:50px;
	padding: 30px 0;
	padding-bottom:60px;
	font-size:18px;}

footer button.btn-outline-success{
	color:#fff;
	border:1px solid #fff;}

footer .footer-logo{
	padding-bottom:60px;
	width:100%;}

footer .logo-footer{
	display:inline-block;}

footer .copyright{
	font-size:18px;
	display:inline-block;}

footer .footer-nav{}

footer a{
	color:#fff;}

footer ul{
	padding:0;}

footer li{
	list-style:none;}








@media (min-width: 1300px){
.container {
    max-width: 1300px;
}
}









